html {
  font-family: "Noto Serif JP", serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
}

.main {
  margin: 20px 20px;
}

.menu-table {
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 1);
}

.menu-table-list {
  margin-top: 50px;
  list-style: none;
}

.menu-table-list-item__title {
  font-size: 1.3em;
  margin-top: 20px;
}

.menu-table-list-item-content {
  margin-top: 10px;
}

.menu-table-list-item-content__supplement {
  display: block;
  font-size: 0.8em;
}

.menu-table-footer {
  margin-top: 50px;
}

.menu-table-footer__text {
  font-size: 1em;
}
